html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background: #000000;
  color: #FFFFFF;
  font-family: 'Exo', sans-serif;
  font-size: 18px;
}

/*
  MAIN
*/

a, a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.full-height {
  display: block;
  height: 100%;
}

.half-height {
  display: block;
  height: 50%;
}

.flex-h, .flex-h-sb, .flex-v {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-h {
  flex-direction: row;
  justify-content: space-around;
}

.flex-h-sb {
  flex-direction: row;
  justify-content: space-between;
}

.flex-v {
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 100%;
  align-self: center;
  text-align: center;
  background: #292929;
  box-sizing: border-box;
  border: 1px solid #333333;
  font-size: 1.2em;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

.btn-sublabel {
  display: block;
  font-size: 0.8em;
}

/*
  TOP
*/
.top-bar {
  background: #222222;
}

.top-bar-content {
  padding: 0.8em 0.5em;
}

/*
  GAME
*/

#swipe-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#time {
  position: absolute;
  bottom: 0.2vw;
  right: 1.8vw;
  pointer-events: none;
  color: #FFFFFF;
  font-size: 5vh;
  color: #FFFFFF;
}

#level {
  position: absolute;
  bottom: 0.2vw;
  left: 1.8vw;
  pointer-events: none;
  color: #FFFFFF;
  font-size: 5vh;
  color: #FFFFFF;
}
