<div class="flex-h half-height">
  <a href="#/game/local" class="btn full-height flex-v">
    Start Race
  </a>
  <a href="#/game/remote" class="btn full-height flex-v" ng-class="{ disabled: !isOffline() }">
    Multiplayer
    <div class="btn-sublabel" ng-show="!player.online">(You seem to be offline)</div>
  </a>
</div>

<div class="flex-h half-height">
  <a href="#/highscore" class="btn full-height flex-v">
    Highscore
  </a>
  <a href="#/credits" class="btn full-height flex-v">
    Info
  </a>
</div>
